* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    border: 1px solid;
    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.container div {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    margin: 24px;
}

button {
    font-size: large;
    padding: 12px;
}