.container {
    border: solid;
    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.container div {
    background-color: pink;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}